<h1>About</h1>
<p>RecordStack (working title) is a project that hopes to help you get around to listening to new/old music you've been putting off.</p>


<h2>Credits</h2>
<p>Recordstack is run by <a href="http://www.andrewventura.com/">Andrew Ventura</a>, a newbie rails dev who wanted something to work on. It's a labor of love. Kind of.</p>
<p>Thanks to these web services for letting me awkwardly and repeatedly request info on Deafheaven's <a href="http://deafheavens.bandcamp.com/album/sunbather">"Sunbather"</a> from their databases during development and testing:</p>
<blockquote><small>MusicBrainz, EchoNest, Discogs, Last.FM, 7Digital, Amazon Web Services</small></blockquote>
