<h1>Contact</h1>
<p>Have a suggestion/scathing critique? Here's how you can yell at me about it.</p>
<p>Contribute to the project at <a href="http://www.github.com/andrewventura/recordstack">GitHub</a></p>
<p>Send me an email <a href="mailto:andrew@andrewventura.com">here</a> and let your freak flag fly.</p>